In [2]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from ucimlrepo) (2.2.3)
Requirement already satisfied: certifi>=2020.12.5 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.23.2 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in d:\code\data science\projects\breast_cancer_kmeans\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd

## Dataset

In [ ]:
breast_cancer_wisconsin_original = fetch_ucirepo(id=15) 
breast_cancer_wisconsin_original.metadata

{'uci_id': 15,
 'name': 'Breast Cancer Wisconsin (Original)',
 'repository_url': 'https://archive.ics.uci.edu/dataset/15/breast+cancer+wisconsin+original',
 'data_url': 'https://archive.ics.uci.edu/static/public/15/data.csv',
 'abstract': 'Original Wisconsin Breast Cancer Database',
 'area': 'Health and Medicine',
 'tasks': ['Classification'],
 'characteristics': ['Multivariate'],
 'num_instances': 699,
 'num_features': 9,
 'feature_types': ['Integer'],
 'demographics': [],
 'target_col': ['Class'],
 'index_col': ['Sample_code_number'],
 'has_missing_values': 'yes',
 'missing_values_symbol': 'NaN',
 'year_of_dataset_creation': 1990,
 'last_updated': 'Sun Mar 10 2024',
 'dataset_doi': '10.24432/C5HP4Z',
 'creators': ['WIlliam Wolberg'],
 'intro_paper': None,
 'additional_info': {'summary': "Samples arrive periodically as Dr. Wolberg reports his clinical cases. The database therefore reflects this chronological grouping of the data. This grouping information appears immediately below, having been removed from the data itself:\r\n\r\nGroup 1: 367 instances (January 1989)\r\nGroup 2:  70 instances (October 1989)\r\nGroup 3:  31 instances (February 1990)\r\nGroup 4:  17 instances (April 1990)\r\nGroup 5:  48 instances (August 1990)\r\nGroup 6:  49 instances (Updated January 1991)\r\nGroup 7:  31 instances (June 1991)\r\nGroup 8:  86 instances (November 1991)\r\n-----------------------------------------\r\nTotal:   699 points (as of the donated datbase on 15 July 1992)\r\n\r\nNote that the results summarized above in Past Usage refer to a dataset of size 369, while Group 1 has only 367 instances.  This is because it originally contained 369 instances; 2 were removed.  The following statements summarizes changes to the original Group 1's set of data:\r\n\r\n#####  Group 1 : 367 points: 200B 167M (January 1989)\r\n\r\n#####  Revised Jan 10, 1991: Replaced zero bare nuclei in 1080185 & 1187805\r\n\r\n#####  Revised Nov 22,1991: Removed 765878,4,5,9,7,10,10,10,3,8,1 no record\r\n#####                  : Removed 484201,2,7,8,8,4,3,10,3,4,1 zero epithelial\r\n#####                  : Changed 0 to 1 in field 6 of sample 1219406\r\n#####                  : Changed 0 to 1 in field 8 of following sample:\r\n#####                  : 1182404,2,3,1,1,1,2,0,1,1,1",
  'purpose': None,
  'funded_by': None,
  'instances_represent': None,
  'recommended_data_splits': None,
  'sensitive_data': None,
  'preprocessing_description': None,
  'variable_info': '1. Sample code number:            id number\r\n2. Clump Thickness:               1 - 10\r\n3. Uniformity of Cell Size:       1 - 10\r\n4. Uniformity of Cell Shape:      1 - 10\r\n5. Marginal Adhesion:             1 - 10\r\n6. Single Epithelial Cell Size:   1 - 10\r\n7. Bare Nuclei:                   1 - 10\r\n8. Bland Chromatin:               1 - 10\r\n9. Normal Nucleoli:               1 - 10\r\n10. Mitoses:                       1 - 10\r\n11. Class:                        (2 for benign, 4 for malignant)',
  'citation': 'This breast cancer databases was obtained from the University of Wisconsin Hospitals, Madison from Dr. William H. Wolberg.  If you publish results when using this database, then please include this information in your acknowledgements.  Also, please cite one or more of:\n1. O. L. Mangasarian and W. H. Wolberg: "Cancer diagnosis via linear programming", SIAM News, Volume 23, Number 5, September 1990, pp 1 & 18.\n2. William H. Wolberg and O.L. Mangasarian: "Multisurface method of pattern separation for medical diagnosis applied to breast cytology", Proceedings of the National Academy of Sciences, U.S.A., Volume 87, December 1990, pp 9193-9196.\n3. O. L. Mangasarian, R. Setiono, and W.H. Wolberg: "Pattern recognition via linear programming: Theory and application to medical diagnosis", in: "Large-scale numerical optimization", Thomas F. Coleman and Yuying Li, editors, SIAM Publications, Philadelphia 1990, pp 22-30.\n4. K. P. Bennett & O. L. Mangasarian: "Robust linear programming discrimination of two linearly inseparable sets", Optimization Methods and Software 1, 1992, 23-34 (Gordon & Breach Science Publishers).'}}

In [ ]:
breast_cancer_wisconsin_original.variables

,name,role,type,demographic,description,units,missing_values
0,Sample_code_number,ID,Categorical,None,None,None,no
1,Clump_thickness,Feature,Integer,None,None,None,no
2,Uniformity_of_cell_size,Feature,Integer,None,None,None,no
3,Uniformity_of_cell_shape,Feature,Integer,None,None,None,no
4,Marginal_adhesion,Feature,Integer,None,None,None,no
5,Single_epithelial_cell_size,Feature,Integer,None,None,None,no
6,Bare_nuclei,Feature,Integer,None,None,None,yes
7,Bland_chromatin,Feature,Integer,None,None,None,no
8,Normal_nucleoli,Feature,Integer,None,None,None,no
9,Mitoses,Feature,Integer,None,None,None,no
10,Class,Target,Binary,None,"2 = benign, 4 = malignant",None,no

In [19]:
# Data (as pandas dataframes) 
X = breast_cancer_wisconsin_original.data.features 
y = breast_cancer_wisconsin_original.data.targets

X.tail()

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [18]:
y.tail()

     Class
694      2
695      2
696      4
697      4
698      4

In [32]:
X.describe().round(3)

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
count,699.000,699.000,699.000,699.000,699.000,683.000,699.000,699.000,699.000
mean,4.418,3.134,3.207,2.807,3.216,3.545,3.438,2.867,1.589
std,2.816,3.051,2.972,2.855,2.214,3.644,2.438,3.054,1.715
min,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
25%,2.000,1.000,1.000,1.000,2.000,1.000,2.000,1.000,1.000
50%,4.000,1.000,1.000,1.000,2.000,1.000,3.000,1.000,1.000
75%,6.000,5.000,5.000,4.000,4.000,6.000,5.000,4.000,1.000
max,10.000,10.000,10.000,10.000,10.000,10.000,10.000,10.000,10.000

### Valores nulos:

In [25]:
X.isna().sum()

Clump_thickness                 0
Uniformity_of_cell_size         0
Uniformity_of_cell_shape        0
Marginal_adhesion               0
Single_epithelial_cell_size     0
Bare_nuclei                    16
Bland_chromatin                 0
Normal_nucleoli                 0
Mitoses                         0
dtype: int64

Since we have 16 missing values on Bare_nuclei, we will handle that.

In [26]:
X[X['Bare_nuclei'].isna()]

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
23,8,4,5,1,2,NaN,7,3,1
40,6,6,6,9,6,NaN,7,8,1
139,1,1,1,1,1,NaN,2,1,1
145,1,1,3,1,2,NaN,2,1,1
158,1,1,2,1,3,NaN,1,1,1
164,5,1,1,1,2,NaN,3,1,1
235,3,1,4,1,2,NaN,3,1,1
249,3,1,1,1,2,NaN,3,1,1
275,3,1,3,1,2,NaN,2,1,1
292,8,8,8,1,2,NaN,6,10,1
294,1,1,1,1,2,NaN,2,1,1
297,5,4,3,1,2,NaN,2,3,1
315,4,6,5,6,7,NaN,4,9,1
321,3,1,1,1,2,NaN,3,1,1
411,1,1,1,1,1,NaN,2,1,1
617,1,1,1,1,1,NaN,1,1,1